@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

$pink: rgb(190, 86, 131, 0.1);
$horizontal-monitor: url("./images/simple-monitor.png");
$vertical-monitor: url("./images/simple-vertical-monitor.png");
$background-image: url("./images/clear-background.png");

@mixin center() {
  //   background-color: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Silkscreen", cursive;
  font-size: 10px;
}

body {
  @include center;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  @include center;
  flex-direction: column;
  height: 80vh;
  width: 80vw;
  background-image: $background-image;
  background-size: cover;
}

#display-container {
  width: 78vh;
  height: 57vh;
  display: grid;
  grid-template: 1fr 8fr 1fr 7fr 2fr / 9fr 1fr 16fr;
}

.monitor {
  padding: 2.5rem;
}

#left {
  background-image: $vertical-monitor;
  grid-area: 2/1/5/2;
  background-size: cover;
}

#top-right {
  background-image: $horizontal-monitor;
  grid-area: 1/3/3/4;
  background-size: cover;
}

#bottom-right {
  background-image: $horizontal-monitor;
  grid-area: 4/3/6/4;
  background-size: cover;
}
